In [2]:
import os
import sys

project_root = os.path.abspath("..")  # or path to repo root
sys.path.append(project_root)

In [3]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

# Configure visualization settings
plt.style.use('ggplot')
sns.set(style="whitegrid")
warnings.filterwarnings('ignore')

# Display settings
%matplotlib inline
plt.rcParams['figure.figsize'] = (12, 8)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.float_format', '{:.2f}'.format)

In [4]:
file_path = "../data/raw/dataset.csv"

df = pd.read_csv(file_path)

df.head()

,app_id,app_name,review_text,review_score,review_votes
0,10,Counter-Strike,Ruined my life.,1,0
1,10,Counter-Strike,This will be more of a ''my experience with th...,1,1
2,10,Counter-Strike,This game saved my virginity.,1,0
3,10,Counter-Strike,• Do you like original games? • Do you like ga...,1,0
4,10,Counter-Strike,"Easy to learn, hard to master.",1,1

In [6]:
from src.preprocess.filtering import filter_reviews
from src.preprocess.cleaning import clean_review_text
from src.preprocess.sampling import sampling_reviews

# Filter Rows (Remove unwanted data)

In [7]:
df = filter_reviews(df=df)

# Cleaning Review Text

In [9]:
df["review_text"] = df["review_text"].apply(clean_review_text)

# Stratified Sampling based on App's Name and Review Score

In [10]:
df = sampling_reviews(df=df)

In [11]:
df.shape

(90559, 8)

In [14]:
df.to_csv("../data/processed/general_sampling_90k.csv", index=False)